{
	"absBase64Code":"",
	"appId":"ALIHK6CF8FFA121204",
	"appKey":"ALIHK6CF8FFA121204_ANDROID",
	"base64Code":"",
	"packageName":"com.tutorial.mpaaspoc",
	"rootPath":"mpaas/android/ALIHK6CF8FFA121204-default",
	"shBase64Code":"",
	"v6Base64Code":"",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"msync.mpaas.cn-hongkong.aliyuncs.com",
	"rpcGW":"https://mgw.mpaas.cn-hongkong.aliyuncs.com/mgw.htm",
	"mpaasapi":"https://mpaasapi.mpaas.cn-hongkong.aliyuncs.com/mgw.htm",
	"pushPort":"443",
	"pushGW":"push.mpaas.cn-hongkong.aliyuncs.com",
	"logGW":"https://mdap.mpaas.cn-hongkong.aliyuncs.com",
	"mdc":"https://mdc.mpaas.cn-hongkong.aliyuncs.com",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"INTL_HK_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"GtGwCIzUuvfaB4XNYJpASxGg7lHfTil8CwHrnxv3nlzY9aK/kZxgjnTC1XnTMuOY7mFFgmurlE7f2fP+P4gm3W2rQMVfUWdAaV5sRe8kw/Qg3od0NgmoarF/8XrZBw9d5geBy24P/ltdQ0i4oEEm2x18T5qug9M8YuzV6UFofBJc12y3ntl6TPVXsvTfwgnCIiyt1GDazI0SWbSN+ucvbRAzpTLIw7CfUY8ZvQ/GS2DzqH+D2r0Zghb89UAO62Jh1oLzymjD/HFlK8NVPaXcR8TFBgsQYQAg0wzSl3tN9PVSx7WpGhyJrgTJSVlm5K2dwILw/U1bQHRDO3kDmEsW8Q=="
}